.ahnlaber_logo {
	font-family: 'Zen Dots', cursive;

}

.ahnlaber_footer_button {
	font-size: .6rem;
}

.ahnlaber_footer {
	text-align:center; 
	margin-top: 2rem;
}

.ahnlaber_header {
	text-align: center; 
	margin-bottom: 2rem; 
	margin: 2rem 0;
}